<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="container-fluid bg-dark" th:fragment="headerFragment">
    <header class="d-flex justify-content-between p-2">
        <a class="navbar-brand text-white" href="/">
            <i class="fas fa-smile fa-2x fa-spin"></i>
        </a>
        <div class="dropdown">
            <button aria-expanded="false" class="btn btn-secondary btn-sm" data-bs-offset="5,15"
                    data-bs-toggle="dropdown" id="dropdownMenuButton" type="button">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul aria-labelledby="dropdownMenuButton"
                class="dropdown-menu dropdown-menu-dark dropdown-menu-macos mx-0 border-0 shadow">
                <li sec:authorize="isAnonymous()"><a class="dropdown-item" href="/sign-in">Sign in</a></li>
                <li sec:authorize="isAuthenticated()"><a class="dropdown-item" href="/sign-in">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li sec:authorize="isAnonymous()"><a class="dropdown-item" href="/sign-up">Sign up</a></li>
                <li sec:authorize="isAuthenticated()"><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
        </div>
    </header>
</div>
</html>