<!DOCTYPE html>
<html lang="ko"
      layout:decorate="layouts/default-layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!-- board-list.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <link rel="stylesheet" th:href="@{static/css/tui-pagination.css}">
    <link rel="stylesheet" th:href="@{static/css/tui-grid.css}">
    <script type="text/javascript">
        let page = 1;
        let size = 10;

        $(document).ready(function () {
            getBoardList();
        });

        function getBoardList(condition) {
            $.get("/api/board?page=1&size=10&sort=createdDate.desc", (data) => {
                if (!data.empty) {
                    showBoard(data.content);
                    delete data["content"]
                    showPagination(data);
                }
            });
        }

        function showBoard(list) {
            let boardTableBody = document.getElementById("boardBody");
            list.forEach((board) => {
                const tr = document.createElement("TR");
                const tdId = document.createElement("TD");
                tdId.innerHTML = board.id;
                tdId.className = "text-center";
                tr.appendChild(tdId);

                const tdTitle = document.createElement("TD");
                tr.appendChild(tdTitle);

                const a = document.createElement("a");
                a.innerHTML = board.title;
                a.href = "/" + board.id;
                tdTitle.appendChild(a);

                const tdAuthor = document.createElement("TD");
                tdAuthor.innerHTML = board.author;
                tdAuthor.className = "text-center";
                tr.appendChild(tdAuthor);

                const tdCreatedDate = document.createElement("TD");
                tdCreatedDate.innerHTML = board.createdDate.replace(/\./g, '-').substring(0, 10);
                tdCreatedDate.className = "text-center";
                tr.appendChild(tdCreatedDate);

                const tdLikes = document.createElement("TD");
                tdLikes.innerHTML = board.likes;
                tdLikes.className = "text-center";
                tr.appendChild(tdLikes);

                boardTableBody.appendChild(tr);
            })
        }

        function showPagination(pagination) {
            const boardPagination = document.getElementById("boardPagination");
            const totalPages = pagination.totalPages;
            if (!pagination.first) {
                const li = document.createElement("li");
                li.className = "page-item";

                const a = document.createElement("a");
                a.className = "page-link";
                a.href = "#";
                a.innerHTML = "Previous";
                li.appendChild(a);
                boardPagination.appendChild(li);
            }

            for (let idx = 0; idx < totalPages / 10; idx++) {
                const li = document.createElement("li");
                li.className = "page-item";

                const a = document.createElement("a");
                a.className = "page-link";
                a.href = "/" + idx / totalPages + 1;
                a.innerHTML = idx + 1;
                li.appendChild(a);
                boardPagination.appendChild(li);
            }

            if (!pagination.last) {
                const li = document.createElement("li");
                li.className = "page-item";

                const a = document.createElement("a");
                a.className = "page-link";
                a.href = "/" + idx + 1;
                a.innerHTML = "Next";
                li.appendChild(a);
                boardPagination.appendChild(li);
            }
        }

    </script>
</th:block>

<div class="container" layout:fragment="content">
    <div class="row my-3">
        <h1 class="mt-5">코틀린으로 게시판 만들기</h1>
    </div>
    <div class="row">
        <form class="d-flex justify-content-end g-3 mb-4" role="search">
            <input aria-label="Search" class="form-control me-2 w-25" placeholder="Search" type="search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    <div class="row table-responsive">
        <table class="table">
            <caption>List of board</caption>
            <thead class="table-light">
            <tr class="text-center">
                <th class="col-md-1" scope="col">#</th>
                <th scope="col">Title</th>
                <th class="col-md-2" scope="col">Author</th>
                <th class="col-md-2" scope="col">Created Date</th>
                <th class="col-md-2" scope="col">Likes</th>
            </tr>
            </thead>
            <tbody id="boardBody">
            </tbody>
        </table>
    </div>
    <div class="row" sec:authorize="isAuthenticated()">
        <div class="d-grid justify-content-md-end py-3">
            <a class="btn btn-primary btn-sm" href="/post" type="button">글쓰기</a>
        </div>
    </div>
    <div class="row">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" id="boardPagination">
            </ul>
        </nav>
    </div>
</div>
</html>